@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harts';
  src: url('./fonts/Hartsfolk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@layer utilities{
  .bg-custom{
    background-color: black;
  }
  .font-hart {
    font-family: 'Harts', sans-serif;
  }
  
}

/*  */