@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@font-face {
  font-family: "Helight";
  src: url("/fonts/HeligthonSignature.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TheHand";
  src: url("/fonts/TheHand.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "typeWritter";
  src: url("/fonts/TypeWritter.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Hartsfolk";
  src: url("/fonts/Hartsfolk.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}